body {
    margin: 0;
}

*,
::after,
::before{
    box-sizing: border-box;
}

@font-face {
    font-family: 'balqis';
    src: url('../assets/fonts/BalqisCyrillic-Script.woff2') format('woff2');
    src: url('../assets/fonts/BalqisCyrillic-Script.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../assets/fonts/RobotoCondensed-Regular.woff2') format('woff2');
    src: url('../assets/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../assets/fonts/RobotoCondensed-LightItalic.woff2') format('woff2');
    src: url('../assets/fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../assets/fonts/RobotoCondensed-Light.woff2') format('woff2');
    src: url('../assets/fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    color: black;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.title {
    color:#E2AB3F;
    font-size: 96px;
    line-height: 128px;
    font-family: 'balqis';
    font-weight: 300;
    margin-bottom: 100px;
}

.title span {
    line-height: 28px;
    font-size: 24px;
    color: #000;
    font-family: 'RobotoCondensed-LightItalic';
    display: block;
    margin-top: -30px;
}

.header {
    background-image: url('../images/header-bg.jpg');
    height: 1080px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';

}

.menu__list-item{
    display:inline-block;
}

.menu__list-item + .menu__list-item{
    margin-left: 52px;
}

.menu__list-link:hover{
text-decoration: underline;
}

.header__phone{
    padding-left: 40px;
    position: relative;
}

.header__phone::before{
    content: "";
    position: absolute;
    background-image: url(../images/phone\ 1.svg);
    width: 30px;
    height: 30px;
    left:0;
}

.header__title{
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
    margin:0 auto
}

.header__title span{
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 80px;
}

.fairy-tail__title span{
    margin-left: 185px;
}

.fairy-tail__inner {
    position: relative;
    
}
.fairy-tail__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__body {
    padding-left: 55px;
    width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}


.fairy-tail__text {
padding: 10px 0;
}


.our-trip__inner {
    position: relative;
    
}
.our-trip__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.our-trip__body {
    margin-right: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.our-trip__title span{
    margin-left: 245px;
}

.our-trip__list{
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom:20px;
}

.our-trip__btn {
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #E2AB3F;
    padding:11px 0;
    text-align: center;
}

.our-trip__content {
    padding-right: 55px;
    width: 50%;
}

.hotel__title span{
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
    padding: 0;
}

.hotel__images {
    margin-right: 100px;
}

.hotel__text {
margin-bottom: 20px;
}

.hotel__gallery {
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 420px;
    align-content: space-between;
}
.hotel__gallery a{
   margin-top: 50px;
   max-height: 150px;
   max-width: 280px;
}

.price__title span {
    margin-left: 120px;
}

.price__inner{
    display: flex;
}

.price__on-title, .price__off-title{
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 52px;
}

.price__on {
    margin-right: 70px;
    width: 530px;
}

.price__list-item {
    margin-bottom: 20px;
}

.price{
    background-image: url('../images/Group\ 1.png');
    background-repeat: no-repeat;
    background-position: center right 17%;
}

.contacts__inner{
    display: flex;
    justify-content: space-between; 
}

.contacts__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date, .contacts__price {
    font-family: 'balqis';
    font-size: 56px;
    color: #E2AB3F;
    line-height: 100px;
    font-weight: 300;
}
.contacts__price{
    margin-left: 26px;
}

.contacts__date{
    margin-bottom: 20px;
}



.contacts__date span{
    margin-left: 205px;
}

.contacts__price span{
    margin-left: 155px;
}
.contacts__date span, 
.contacts__price span {
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 24px;
    line-height: 28px;
    color: #000;
    display: block;
    margin-top: -30px;
}

.contacts__form {
    min-width: 383px;
    margin: 0 auto;
}

.contacts__form-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular';
}

.contacts__form-input {
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 30px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    font-family: 'RobotoCondensed-Light';
}

.contacts__form-input::placeholder{
    color: #000;
}

.contacts__form-btn {
    font-family: 'RobotoCondensed-Light';
    line-height: 28px;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    background-color: transparent;
    padding: 11px 45px;
    cursor: pointer;
}

.footer {
    background-image: url(../images/Rectangle\ 42.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 96px;
    background-size: cover;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';

}

.footer__contacts {
    width: 356px;
    height: 527px;
    background-image: url(../images/footer-contacts.png);
    background-repeat: no-repeat;
    text-align: center;
}

.footer__contacts-title {
    padding-top: 50px;
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';
    color: #E2AB3F;
    margin-bottom: 50px;
}

.footer__phone,
.footer__email {
    display: inline-block;
    padding-left: 40px;
    position: relative;
}

.footer__phone::before,
.footer__email::before{
content: "";
position: absolute;
width: 30px;
height: 30px;
left: 0;
top: -5px;
}

.footer__phone::before{
   background-image: url(../images/phone\ 2.svg); 
}

.footer__email::before{
    background-image: url(../images/mail\ 1.svg); 
 }

.footer__phone{
    margin-bottom: 20px;
}

.footer__social{
    margin-top: 38px;

}

.footer__social a {
    margin: 0 7px;
}

@media (max-width: 1240px){
    .header__title {
        padding-top: 135px;
        font-size: 190px;
        line-height: 295px;
    }

    .header__title span {
        font-size: 42px;
        line-height: 60px;
        margin-top: -81px;
        margin-right: 197px;
    }

    .our-trip__body {
        padding: 30px;
    }

    .our-trip__list {
        font-size: 20px;
        line-height: 24px;
    }

    .our-trip__title {
        margin-bottom: 50px;
    }
}

@media (max-width: 990px){
.page-section{
    margin: 100px 0;
}

.our-trip__inner{
    height: 150vh;
    }
.our-trip__content{
height: 70vh;
width: 100%;
padding: 0;
}


.fairy-tail__container{
    position: static;
}

.fairy-tail__slider,
.our-trip__slider {
    width: 100%;
}

.our-trip__slider{
    position:absolute;
    bottom: 0;

}


.our-trip__container{
    height: inherit;
}

.fairy-tail__body,
.our-trip__body {
    padding: 20px;
    width: 100%;
    margin-left: 0;
}

.our-trip__body {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
    flex-direction: row;
}

.our-trip__btn {
    align-self: flex-end;
    font-size: 18px;
    line-height: 21px;
    width: 30%;
    margin: 0 35%;
}

.our-trip__list {
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
}

.our-trip__title {
    margin-bottom: 30px;
    flex-basis: 100%;
    font-size: 80px;
    line-height: 100px;
}

.our-trip__title span {
    margin-left: 222px;
    line-height: 21px;
    font-size: 18px;
}

.header{
    height: 100vh;
}

.fairy-tail__item img,
.our-trip__slider-item img{
    height: 70vh;
    object-fit: cover;
}

}

@media (max-width: 840px){
    .header__title {
        padding-top: 189px;
        font-size: 133px;
        line-height: 271px;
    }

    .header__title span {
        font-size: 35px;
        line-height: 55px;
        margin-top: -93px;
        margin-right: 113px;
    }

    .header__phone::before{
        height: 25px;
        width: 25px;
        background-size: cover;
    }

    .our-trip__list {
        font-size: 14px;
        line-height: 16px;
    }
    .our-trip__list li:first-child {
        margin-bottom: 10px;
}


}

@media (max-width: 650px) {
    .header__top{
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }

    .header__title {
        padding-top: 146px;
        font-size: 117px;
        line-height: 264px;
    }

    .header__title span {
        font-size: 32px;
        line-height: 47px;
        margin-top: -95px;
        margin-right: 39px;
    }


    .slider-btn {
        display: none;
    }

    .page-section{
        margin: 50px 0;
    }

    .fairy-tail__title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail__title span {
        margin-left: 110px;
    }
    .fairy-tail__item img,
.our-trip__slider-item img{
    height: 50vh;

}

.our-trip__inner{
    height: 125vh;
}

.our-trip__content{
    height: 50vh;
}

.our-trip__btn {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}
}

@media (max-width: 520px){
    .header__title {
        padding-top: 120px;
        font-size: 78px;
        line-height: 227px;
    }

    .header__title span {
        font-size: 25px;
        line-height: 41px;
        margin-top: -93px;
        margin-right: 15px;
    }

    .menu__list-item + .menu__list-item{
        margin-left: 15px;
    }

    .our-trip__list {
        font-size: 12px;
        line-height: 14px;
    }

    .our-trip__btn {
        font-size: 12px;
        line-height: 14px;
        width: 40%;
        margin: 0 30%;
    }
    
}


@media (max-width: 370px){
    .header__title {
        padding-top: 120px;
        font-size: 78px;
        line-height: 227px;
    }

    .header__title span {
        font-size: 18px;
        line-height: 26px;
        margin-top: -93px;
        margin-right: 0;
    }
    .fairy-tail__title {
        margin-bottom: 15px;
        font-size: 50px;
        line-height: 90px;
    }
    .fairy-tail__title span {
        margin-left: 90px;
        line-height: 20px;
        font-size: 15px;
    }

    .our-trip__btn {
        font-size: 10px;
        line-height: 12px;
    }

    .our-trip__list {
        font-size: 11px;
        line-height: 12px;
    }
}

@media (max-width: 320px){
    .header__top {
        font-size: 22px;
}
.header__title {
    padding-top: 34px;
    font-size: 55px;
    line-height: 218px;
}

.header__title span {
    font-size: 15px;
    line-height: 25px;
    margin-right: 22px;
}

}