body {
    margin: 0;
}

.header {
    background-image: url('assets/img/header-bg.jpg');
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom center;
}